{% extends "base.html" %}
{% block body %}

<body>

  <div class="container project">

    <div id="project_page">
      <section class="py-3">
        <h2>Designing new experiences for a SaaS platform.</h2>
        <p>Surfly is the global market leader for co-browsing technology, powering in-person online experiences for more than 100,000 users and over 2 million sessions per year. Leading organizations use Surfly to upgrade existing Phone, Chat and
          Email channels with in-person online co-browsing experiences, resulting in greater customer satisfaction that exceed expectations. Following an easy setup, organizations can humanize existing interactions across all channels, systems and
          departments.</p>
      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <h2>Problem statement </h2>
        <p>Aside from providing a co-browsing solution, we wanted to introduce a better video <br> and text chat functionalities, drastically improve mobile experience for the users <br> and ease every step of the user’s journey.
        </p>
      </section>
    </div>

    <img src="../static/projects/surfly_1.png" class="img-fluid img-project img-meduim" alt="Responsive image">

    <div id="project_page">
      <section class="py-3">
        <h2>Research methods</h2>
        <ul style="list-style: disc;">
          <li>Personas</li>
          <li>Customer interviews</li>
          <li>User stories </li>
          <li>Market research analysis</li>
          <li>Prototype testing</li>
        </ul>
      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <h2>Key focus areas:</h2>
        <ul style="list-style: disc;">
          <li>What are the challenges or barriers with the current app usage?</li>
          <li>What’s important for a great app experience?</li>
          <li>What kind of problems the customers are trying to solve?</li>
          <li>What kind of workarounds they’ve developed?</li>
          <li>Lo-fi prototype feedback</li>
        </ul>
      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <img src="../static/projects/process.jpg" class="img-project img-support" alt="Responsive image">
        <br><br><br><br><br>
        <h2>Core users’ needs</h2>
        <p>Being able to have a smooth upgrade to a co-browsing session. There are different ways the user can start a communication with their customer with: a phone call, a video call, a support chat.<br><br>

          To establish trust between them and their customer. There are a lot of instances where there is a sensitive information involved. Provide a secure experience.<br><br>

          Great mobile experience. A lot of their customers call in from their mobile device. The agents want to see an easy device detection so they can ensure the best support possible.<br><br>
        </p>
      </section>
    </div>

    <img src="../static/projects/Jessie.png" class="img-fluid img-project img-support" alt="Responsive image">
    <img src="../static/projects/Jerome.png" class="img-fluid img-project img-support" alt="Responsive image">

    <div id="project_page">
      <section class="py-3">
        <br><br>
        <h2>Dashboard</h2>
        <img src="../static/projects/dashboard.png" class="img-fluid img-project img-example" alt="Responsive image">
        <p>
          The dashboard was redesigned to accommodate the agents and their needs: simple process of switching their aviability status, most visited pages for a quick access (since they tend to go through the same pages with their customers again and
          again).
        </p>
      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <br><br>
        <h2>Video chat</h2>
        <img src="../static/projects/videochat_float.png" class="img-fluid img-project img-meduim" alt="Responsive image">
        <p>
          The video chat functionality and its usability are very important for our users. A lot of times they either want to switch a conversation from a phone call to a video chat or it’s important to them to establish a connection with their
          customer before jumping into helping them.
        </p>
        <img src="../static/projects/videochat.png" class="img-fluid img-project img-example" alt="Responsive image">
        <img src="../static/projects/video_mobile.gif" class="img-fluid img-gif" alt="Responsive image">
      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <br><br>
        <h2>Viewport</h2>
        <p>
          Different users use different devices to browse online. After studying what kind of devices the agents prefer, we could understand how to improve thier device detection on the other side in order to provide the best support.
        </p>
        <img src="../static/projects/viewport.png" class="img-fluid img-project img-example" alt="Responsive image">
        <img src="../static/projects/viewport1.png" class="img-fluid img-project img-example" alt="Responsive image">
        <img src="../static/projects/viewport.gif" class="img-fluid img-gifer" alt="Responsive image">
      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <br><br>
        <h2>Mobile experience</h2>
        <p>
          A lot of users call for support from their mobile devices. They might want to share their back camera view, snap a picture or they might be in a situation where they can’t do a video chat but would be happy to talk with text messages.
        </p>
        <img src="../static/projects/phones.png" class="img-fluid img-project" alt="Responsive image">
      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <br><br>
        <h2>Admission</h2>
        <p>
        The users would like to be able to admit new people into their session, to make their interactions more secure. Currently, anyone with a link can enter a Surfly session. By adding the admission flow, we will be able to provide a better user experience and ensure that the user has control over their sessions.
        </p>
        <ul style="list-style: disc;">
          <li>Add “enter name” as a default start of every session, to identify each participant</li>
          <li>Add notification to the session, visible to the session host</li>
          <li>Showcase the number of users in a waiting room</li>
          <li>Admit users from a list</li>
        </ul>
        <img src="../static/projects/admission_thinking.png" class="img-project img-support" alt="Responsive image">
        <img src="../static/projects/admission.gif" class="img-fluid img-project" alt="Responsive image">
      </section>
    </div>

  </div>





</body>

{% endblock %}
