{% extends "base.html" %}
{% block body %}

<body>

<div class="container project">

<div id="project_page">
 <section class="py-3">
    <h2>Working from here</h2>
    <p>A content hub for Treatwell. This project was kicked off to create a fun and safe place for both B2B and B2C sides of the business during these complicated times. As a hub it has to be scalable, easy to use (for content managers in 11 countries) and give an overall uplifting feeling. I started by drafting some ideas and building wirefranes. As a result I developed a layout which is perfect for scrolling and unwinding. One of the most interesting challenges was to create a Spotify section, where the users could easily scan and find a playlist for their mood. Overall, the page turned out to be structured in a way which takes you on a journey through different aspects of business (for both clients and partners) and has a big viraity of content.</p>

</section>
</div>



<img src="../static/projects/gif_treatwell.gif" class="img-responsive img-project" alt="Responsive image">



<img src="../static/projects/aiwebsite.png" class="img-responsive img-project" alt="Responsive image">

</div>
 </body>

{% endblock %}
