body {
  cursor: url("circle.png"), auto;
  background-color: #FFF8F8 !important;
  background-repeat: no-repeat;
}

/*-- Arrow on the main page --*/
.img-arrow {
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: rotate(90deg);
}

.font-awesome{
  font-size: 0.7em;
}

.head-btn {
  margin-top: 16px;
}

.black-background {
  background-color:#000000;
}

.white {
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
}

/*-- Footer --*/
.footer{
  margin-top: 80px;
  margin-bottom: 24px;
  background-color: transparent !important;
}

.footer-info {
  padding-top: 16px;
  padding-left: 72px;
  font-size: 16px;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.footer-item {
  margin-right: 72px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}


/*-- Text CSS --*/
.text {
  position: relative;
  color: black;
  font-family: 'EB Garamond', serif;
  text-align: left;
  font-weight: bold;
  top: 20%;
  font-size: 28px;
}

.text.subtitle {
  font-family: 'EB Garamond', serif; 
  font-weight: bold;
  font-size: 40px;
}

.text.project-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.text.project-cta {
  font-size: 18px;
  font-weight: bold;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: regular;
  padding-top: 56px;
}


.about {
  margin-top: 5%;
}

/*--- navigation bar ---*/
.navbar {
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-bottom: 3%;
}

.navbar-nav {
  margin-left: 4%;
}


.nav-item {
  color: black;
  font-weight: 300;
  align-self: right;
  margin: 0 32px 0 32px;
}

.navbar-brand {
  color: black;
  font-weight: 300;
  cursor: pointer;
  padding-left: 40px;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: #007bff;
}


/* -- Header --*/
.jumbotron {
  background-color: transparent !important;
}

.jumbotron-heading {
  font-family: 'EB Garamond', serif;
  font-weight: semi-bold;
  padding-top: 5%;
  padding-bottom: 5%;
}


.button-color {
  background-color: black;
  color: white;

}

.img-folio {
  position: absolute;
  flex: 0 0 rem(60);
}

.img-bottom {
  z-index: -1;
  left: 50%;
  margin-top: 280px;
}

.img-top {
  z-index: 1;
}

.img-self {
  width: 80% !important;
  height: auto;
  margin-top: 8%;
}

/* -- Cards --*/
.cards {
  border: 0;
  padding-top: 1%;
}

.img-card {
  width: 80%;
  -webkit-box-shadow: -12px 10px 60px -17px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -12px 10px 60px -17px rgba(0, 0, 0, 0.17);
  box-shadow: -12px 10px 60px -17px rgba(0, 0, 0, 0.17);
}

.row {
  padding: 16px;
}

.project-cards {
  padding-top: 4%;
  padding-left: 0px !important;
}

.content {
  position: relative;
}

div.col-xs-4.col-sm-4.col-md-4.col-lg-4 {
  padding: 10px;
}



/*-- Projects --*/
#project_page .py-3 {
  width: auto;
  font-family: 'EB Garamond', serif;
}

.project {
  width: 100%;
  margin: 20% 0;
  padding: 0 90%;
}

.project-title {
  padding-top: 2%;
}

.img-project {
  width: 100%;
}

.img-small {
  width: 20%;
}

.img-meduim {
  width: 60%;
  height: auto;
  float: right;

}

.img-gif {
  width: 20%;
  padding-left: 30px;
}

.img-gifer {
  width: 48%;
  padding-top: 30px;
}

.img-support {
  width: 40%;
  margin-bottom: 30px;
}

.img-example{
  width: 70%;
  margin-top: 3%;
}

/*-- Mobile --*/
@media (max-width: 600px) {
  body {
    max-width: 100%;
  }

  .navbar {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 6%;
  }

  .container-fluid {
    padding: 0;
  }

  .header {
    width: 100%;
  }

  .jumbotron {
    margin-bottom: 50%;
  }

  .footer-info {
    font-size: 20px;
  }

  .img-bottom {
    display: flex;
    display: -ms-flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
  }


  .img-folio {
    position: fixed;
    flex: 0;
  }

  .img-support {
    width: 70%;
  }

  .img-card {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20%;
  }

  .project {
    padding-top: 10%;
  }

  .img-arrow {
    display: none;
  }