body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;;
}
/*--- navigation bar ---*/
.navbar {
  background:#000000;

}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #007bff;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('../static/main.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.jumbotron { 
  background-image: url('main.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
  font-family: 'Nunito', serif;
 } 


 .jumbotron-heading { 
  font-family: 'Oswald', serif;
 } 

 .css-selector {
font-family: 'Abril Fatface', serif;
}

.card {
  border: 0;
}

.content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.row {
  padding: 10px;
}

.content {
  position: relative;
}

div.col-xs-4.col-sm-4.col-md-4.col-lg-4{
  padding: 10px;
}

.text{
  position: relative;
  color: #fff;
  font-family: 'Oswald', serif;
  text-align: center;
  top: 50%;
  font-size: 30px;
}

.img-responsive{
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 480px){
  .img-responsive{
    padding-left: 0px;
    padding-right: 0px;
  }
}

#project_page .py-3{
  position: relative;
  font-family: 'Nunito', serif;
}

.img{
  object-position: center;
}