<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"  crossorigin="anonymous"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='../static/favicon.png') }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151873900-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-151873900-1');
  </script>

</head>

<body>

  <header>
    <nav class="navbar navbar-light fixed-top navbar-expand-lg justify-content-between">
      <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('main')}}">Yulia Shevchenko</a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-elements" id="navbarSupportedContent">
        <ul class="navbar-nav mr-right">
          <li class="nav-item active">
            <a class="nav-link custom-nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
  </header>

  {% block body %}
  {% endblock %}

  <!-- Footer -->
  <footer class="page-footer sticky-bottom">
    <div>
      <p class="footer-info">Want to get in touch?<br> Email me at <span class="highlight email">yulyadesigns@gmail.com</span></p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>



</html>
