{% extends "base.html" %}
{% block body %}

<body>

<div class="container">

<div id="project_page">
 <section class="py-3">
    <h2 class="font-weight-light">Content hub</h2>
    <p>Exploring how to create a balanced page even when it's full of motion and graphic elements. I created a page where motion plays a major role but can't make things too messy for a user. Therefore, I decided to balance it with a colour palette choice and minimise animations across the page.</p> 
</section>
</div>
</div>


<div class="container">
<img src="../static/projects/chub1.gif" class="img-responsive" alt="Responsive image">
</div>

<div class="container">
<img src="../static/projects/chub2.gif" class="img-responsive" alt="Responsive image">
</div>

<div class="container">
<img src="../static/projects/chub3.jpg" class="img-responsive" alt="Responsive image">
</div>

<div class="container">
<img src="../static/projects/chub4.gif" class="img-responsive" alt="Responsive image">
</div>

<div class="container">
<img src="../static/projects/chub5.gif" class="img-responsive" alt="Responsive image">
</div>


 </body>

{% endblock %}