{% extends "base.html" %}
{% block body %}

<body>

<div class="container">

<div id="project_page">
 <section class="py-3">
    <h2 class="font-weight-light">Editor UI</h2>
    <p>Introduction of a new AI based feature to a user. The most convenient way was to mix new UI elements with illustrations, explaining the flow. It was an amazing prject where I got to work with a lot of stakeholders and participate in user tests.</p>
  
</section>
</div>
</div>


<div class="container">
<img src="../static/projects/editorui.png" class="img-responsive" alt="Responsive image">
</div>

<div class="container">
<img src="../static/projects/editorui.gif" class="img-responsive" alt="Responsive image">
</div>


 </body>

{% endblock %}