{% extends "base.html" %}
{% block body %}

<body>

<div class="container">

<div id="project_page">
 <section class="py-3">
    <h2 class="font-weight-light">Icon set</h2>
    <p>Create an icon set for new features and sections on an editor app. We want to design them from a scratch in order to have branded and tailored icons for our needs.</p>
  
</section>
</div>
</div>

<div class="container">
<div id="project_page">
 <section class="py-3">
    <h2 class="font-weight-light">Grid alignment</h2>
</section>
</div>



<div class="row">
<img src="../static/projects/grid.jpg" class="img-fluid" alt="Responsive image">
</div>
</div>



<div class="row">
<img src="../static/projects/iconset.jpg" class="img-responsive" alt="Responsive image">
</div>



 </body>

{% endblock %}