{% extends "base.html" %}
{% block body %}

<body>

  <div class="container project">

    <div id="project_page">
      <section class="py-3">
        <h2>Icon set</h2>
        <p>Create an icon set for new features and sections on an editor app. We want to design them from a scratch in order to have branded and tailored icons for our needs.</p>

      </section>
    </div>



      <div id="project_page">
        <section class="py-3">
          <h2>Grid alignment</h2>
          <img src="../static/projects/grid.jpg" class="img-fluid img-small" alt="Responsive image">
          <br>
          <br>
          <h2">Iconography</h2>
        </section>
      </div>





        <img src="../static/projects/iconset.jpg" class="img-responsive img-project" alt="Responsive image">



    </div>
</body>

{% endblock %}
