{% extends "base.html" %}
{% block body %}

<body>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Yulia Shevchenko</h1>
        <p class="lead text-muted">Hi there! I'm a designer with several years of experience in visual, motion and brand design. I love creating amazing visual stories and I am excited to develop beautiful experiences for your users. Let's get in touch.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Download CV</a>
          <a href="https://www.linkedin.com/in/iuliia-shevchenko-9492bb141/" class="btn btn-secondary my-2" target="_blank">LinkedIn Profile</a> 
        </p>
      </div>
    </section>
     

<div class="container">

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card1.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Poster visual identity</div>
    </div>
  </div>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card2.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Icon set</div>
    </div>
  </div>
  </div>

   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card3.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Editor UI</div>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card4.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">AI website</div>
    </div>
  </div>
  </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card8.gif" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Motion studies</div>
    </div>
  </div>
  </div>

  

   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card6.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">App redesign</div>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card7.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Content hub</div>
    </div>
  </div>
  </div>

 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card5.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Template</div>
    </div>
  </div>
  </div>

   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="content">
    <img src="../static/card9.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Campaign</div>
    </div>
  </div>
  </div>
</div>

</div>
</div>
</main>
</body>
{% endblock %}