{% extends "base.html" %}
{% block body %}
<body>


  <main role="main">

    <section class="jumbotron text-left">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2 class="jumbotron-heading">Hi there! My name is Yulia and
              I’m a designer with several years of experience in visual, motion and brand design. I am excited to develop <span class="highlight">beautiful experiences</span> for your users.</h2>

            <a href="{{url_for('exportCV')}}" class="btn my-2 button-color">Download CV</a>
            <a href="https://www.linkedin.com/in/iuliia-shevchenko-9492bb141/" class="btn btn-outline-dark my-2" target="_blank">LinkedIn Profile</a>

          </div>
          <div class="col-sm">
            <div class="container img-jumbotron" id="img-group">
              <img src="../static/black_ellipse.svg" class="img-fluid img-folio img-top" alt="Responsive image">
              <img src="../static/folio.png" class="img-fluid img-folio" alt="Responsive image" id="img-portfolio">
              <img src="../static/blue_ellips.svg" class="img-fluid img-folio img-bottom" alt="Responsive image">
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container cards">

      <img src="../static/next.svg" class="img-fluid img-arrow" alt="Responsive image">

      <div class="row">

        <div class="col-sm div-order-1">
          <a href="{{url_for('poster')}}">
            <img src="../static/card1.jpg" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>
        <div class="col-sm div-order-2">
          <h2 class="text folio-start">Poster Visual Identity</h2>
          <p class="text paragraph">Product migration and implementation.</p>
        </div>

      </div>

      <div class="row">

        <div class="col-sm div-order-15">
          <h2 class="text">Co-browsing app</h2>
          <p class="text paragraph">Rethinking the way we collaborate online.</p>
        </div>
        <div class="col-sm div-order-16">
          <a href="{{url_for('appredesign')}}">
            <img src="../static/card6.png" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col-sm div-order-5">
          <a href="{{url_for('treatwell')}}">
            <img src="../static/treatwell.jpg" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>
        <div class="col-sm div-order-6">
          <h2 class="text">Working from here</h2>
          <p class="text paragraph">Hub for beauty content.</p>
        </div>

      </div>

      <div class="row">

        <div class="col-sm div-order-7">
          <h2 class="text">Photo editor UI</h2>
          <p class="text paragraph">AI feature introduction.</p>
        </div>
        <div class="col-sm div-order-8">
          <a href="{{url_for('editorui')}}">
            <img src="../static/card3.jpg" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col-sm div-order-9">
          <a href="{{url_for('motion')}}">
            <img src="../static/card8.gif" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>
        <div class="col-sm div-order-10">
          <h2 class="text">Motion studies</h2>
          <p class="text paragraph">Practicing those moves.</p>
        </div>


      </div>

      <div class="row">

        <div class="col-sm div-order-11">
          <h2 class="text">Moonwalk</h2>
          <p class="text paragraph">Traveling to moon has never been so smooth.</p>
        </div>
        <div class="col-sm div-order-12">
          <a href="{{url_for('moonwalk')}}">
            <img src="../static/card9.jpg" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col-sm div-order-13">
          <a href="{{url_for('contenthub')}}">
            <img src="../static/card7.jpg" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>
        <div class="col-sm div-order-14">
          <h2 class="text">Content hub</h2>
          <p class="text paragraph">Series of motion illustrations.</p>
        </div>


      </div>



      <div class="row">

        <div class="col-sm div-order-3">
          <h2 class="text">Icon set</h2>
          <p class="text paragraph">Custom icons for a photo app.</p>
        </div>
        <div class="col-sm div-order-4">
          <a href="{{url_for('iconset')}}">
            <img src="../static/icons.jpg" class="img-fluid img-card img-responsive" alt="Responsive image">
          </a>
        </div>


      </div>

    </div>
</body>
{% endblock %}
