{% extends "base.html" %}
{% block body %}

<body>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Yulia Shevchenko</h1>
        <p class="lead text-muted">Hi there! I'm a designer with several years of experience in visual, motion and brand design. I love creating amazing visual stories and I am excited to develop beautiful experiences for your users.<br><br>Get in touch: yulyadesigns@gmail.com</p>
        <p>
          <a href="{{url_for('exportCV')}}" class="btn btn-primary my-2">Download CV</a>
          <a href="https://www.linkedin.com/in/iuliia-shevchenko-9492bb141/" class="btn btn-secondary my-2" target="_blank">LinkedIn Profile</a> 
        </p>
      </div>
    </section>
     

<div class="container">

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="{{url_for('poster')}}">
      <div class="content">
        <img src="../static/card1.jpg" class="img-fluid"> 
        <div class="content-overlay">
          <div class="text">Poster visual identity</div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="{{url_for('treatwell')}}">
    <div class="content">
    <img src="../static/treatwell.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Working from here</div>
    </div>
  </div>
</a>
  </div>

   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="{{url_for('editorui')}}">
    <div class="content">
    <img src="../static/card3.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Editor UI</div>
    </div>
  </div>
  </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="{{url_for('iconset')}}">
    <div class="content">
    <img src="../static/icons.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Icon set</div>
    </div>
  </div>
   </a>
  </div>
  

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="{{url_for('motion')}}">
    <div class="content">
    <img src="../static/card8.gif" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Motion studies</div>
    </div>
  </div>
</a>
  </div>

  

   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="{{url_for('appredesign')}}">
    <div class="content">
    <img src="../static/card6.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">App redesign</div>
    </div>
  </div>
</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="{{url_for('contenthub')}}">
    <div class="content">
    <img src="../static/card7.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Content hub</div>
    </div>
  </div>
</a>
  </div>

 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <a href="{{url_for('presentation')}}">
    <div class="content">
    <img src="../static/card5.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Template</div>
    </div>
  </div>
</a>
  </div>

   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="{{url_for('moonwalk')}}">
    <div class="content">
    <img src="../static/card9.jpg" class="img-fluid">
    <div class="content-overlay">
    <div class="text">Moon Walk</div>
    </div>
  </div>
</a>
  </div>
</div>

</div>
</div>
</main>
</body>
{% endblock %}