{% extends "base.html" %}
{% block body %}

<body>

  <div class="container project">

    <div id="project_page">
      <section class="py-3">
        <h2>Product introduction</h2>
        <p>albelli is a company with a mission to print people’s photos and bring their moments to life. Our challenge was to introduce a new product to various touch points: app, website, editors. It was also very important to keep in mind that this
          product would appeal to a much younger audience than the dominant customer profile. I started from establishing and understanding who those customers are and how to approach them. After that we could dive into which visual identity we
          should go with.
        </p>

      </section>
    </div>

    <div id="project_page">
      <section class="py-3">
        <h2>Customer persona</h2>
        <p>25-30 years old<br>
          Want to capture and save their moments from traveling/weddings<br>
          Prefer to buy through the app or online platform
        </p>
      </section>
    </div>




      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="img">
            <img src="../static/projects/persona1.jpg" class="img-fluid img-project">
          </div>
        </div>


        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="img">
            <img src="../static/projects/persona2.jpg" class="img-fluid img-project">
          </div>
        </div>
      </div>



      <div id="project_page">
        <section class="py-3">
          <h2>Process</h2>
          <p>I worked on both content creation and supported app/desktop application developers and UX designers to develop top experiences fro our users. It was important to differentiate this product from the rest of albelli range in order to
            attract new customers.</p>
        </section>
      </div>



      <img src="../static/projects/poster.jpg" class="img-responsive img-project" alt="Responsive image">



  </div>
</body>

{% endblock %}
